body{
    background-color: #333333;
}

.table{
    color: white;
}

input {
    background-color: transparent;
    border: 0;
    color: #ffffff;
}

.container{
    margin-top: 50px;
    border: 1px solid #999999;
    padding: 0;
    min-height: 505px;
    padding-left: 5px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    line-height: 0;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    height: 24px;
}

.form-control:focus {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    line-height: 0;
    color: #ffffff;
    background-color: #444444;
    background-clip: padding-box;
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
    height: 24px;
}

.form-group {
    margin-bottom: 0;
}

.numbers{
    float: left;
    min-height: 395px;
    height: 395px;
    overflow: hidden;
}

.numbers > p{
    margin-bottom: 0;
    color: #999999;
    margin-top: 0.4px;
}

.form-group{
    float: right;
    width: 97.97%;
}

.equipe {
    color: white;
}
/*textarea*/
#codigo{
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    resize: none;
    word-wrap: break-word;
    height: 300px;
    border: transparent;
    background-color: transparent;
    color: #ffffff;
}

/*textarea*/
#codigo:focus{
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    resize: none;
    word-wrap: break-word;
    height: 300px;
    border: transparent;
    box-shadow: none;
    background-color: transparent;
    color: #ffffff;
}

/**/
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.janela{
    position: absolute;
    width: 200px;
    height: 150px;
    overflow-y: auto;
    border: 1px solid #000000;
    background-color: #2a2a2a;
    color: #007ACD;
    display: none;
    top: 210px;
    left: 760px;
    z-index:99999;
}

.janela > p{
    padding: 5px;
    border-top: 1px solid #1a1a1a;
    margin-bottom: 0;
}

.janela > p:hover{
    background-color: #3a3a3a;
}



#editor {
    border:1px solid orange;
    background-color: white;
}

.tipo {
    color:red;
    font-weight: bold;
}

.base {
    color:purple;
    font-weight: bold;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #999;
}

@media all and (max-width: 1200px){
    .form-group {
        width: 97.5%;
    }
}

@media all and (max-width: 990px){
    .form-group {
        width: 96.7%;
    }
}

@media all and (max-width: 767px){
    .form-group {
        width: 95.6%;
    }
}

@media all and (max-width: 575px){
    .container{
        width: 95%;
    }
}

@media all and (max-width: 557px){
    .form-group {
        width: 95.4%;
    }
}

@media all and (max-width: 533px){
    .form-group {
        width: 95.29%;
    }
}

@media all and (max-width: 520px){
    .form-group {
        width: 95.1%;
    }
}

@media all and (max-width: 500px){
    .form-group {
        width: 94.8%;
    }
}
@media all and (max-width: 470px){
    .form-group {
        width: 93.8%;
    }
}